html {
    margin: 0;
    padding: 0;
    background-color: white;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: #666;
    height: 50%;
    width:80%;
    margin-left:130px;
}
header {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
#container{
    margin: auto;
    width:90%;
    margin-bottom:40px;
}

table {
    width: 100%;
    text-align: center;
    color:blue!important;
}

th {
    text-align: center!important;
}

td {
    /*width: 16px;*/
    text-align: center;
    background-color: lavender !important;
    color:dimgrey;
}

input[type="text"],input{
    background-color:#F8F8F8;
    border-radius: 6px;
    margin: 5px;
    width: 70%;
}

input[type="button"]{
    background-color:#F8F8F8;
    border-radius: 6px;
    margin-left: 8px;
    margin-right: 0px;
    width: 80px;
}

#body {
  /*  background: url('../img/expertus_banner.jpg');
     background-image: url(img/fond-footer.jpg) repeat center top;  */
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
   
    opacity: 1;
    visibility: inherit;
    z-index: 20;
    
}


footer {
   background-color: rgb(107, 109, 111);
}




.btn-primary {
    float: right;
    margin: 15px;
   
}
.sticky{
 color: rgb(107, 109, 111);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
}